:root {
  /* Primary-Colors */
  --Shade1: #358F80;
  --Shade2: #99E2B4;
  --Shade3: #56AB91;

  /* Secondary-Colors */
  --White: #ffffff;
  --Black: #000000;
  --Grey: #B3B3B3;
}

html,
body {
  font-size: 1rem;
  line-height: 1.7;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
